{% extends 'base.html.twig' %}
{% import 'base_datatable.html.twig' as datatable %}
{% block title %}{{'manufacture.manufacture_list'|trans}}{% endblock %}

{% block content_body %}


<!-- begin:: Content Body -->
<div class="modal fide" role="dialog"></div>
<div class="k-content__body    k-grid__item k-grid__item--fluid" id="k_content_body">
    <div class="k-portlet k-portlet--mobile">
        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <h3 class="k-portlet__head-title">
                   {{'manufacture.manufactures_list'|trans}}
                </h3> &nbsp;
            </div>
            <div class="k-portlet__head-label">
            <a href="javascript:void(0);"  class="btn mar k-margin-l-5 reordeBasenoms btn-sm btn-elevate btn-brand saveOrder" title="{{label.reorder|trans}}"><span></span></a>

            <a href="javascript:void(0);"  class="btn mar k-margin-l-5 showHint btn-sm btn-elevate btn-brand">
                <i class="fa fa-question  k-padding-l-5 k-padding-r-0"></i>
                <span class="k-font-bold">{{'basenom.type-desc'|trans}}</span>&nbsp;
            </a>
            <a href="{{path('manufacture_add')}}" class="btn btn-sm k-margin-l-5 btn-elevate btn-brand">
                <i class="flaticon2-add-1  k-padding-l-5 k-padding-r-0"></i>
                <span class="k-font-bold">{{'label.addNew'|trans}}</span>&nbsp;
            </a>
            </div>
        </div>
        <div class="k-portlet__body main">
            {{ datatable.html_block(table) }}
        </div>
    </div>
</div>
<style type="text/css">
.dataTables_wrapper .dataTable tr.deleted td:last-child {
    background: white;
    text-decoration: none;
}
.dataTables_wrapper .dataTable tr.deleted {
    background: lightgray;
}
.dataTables_wrapper .dataTable tr.deleted td {
    color: gray;
    text-decoration: line-through;
}
</style>
<!-- end:: Content Body -->

{% endblock content_body %}

{% block javascripts %}
    {{ parent() }}
{% javascripts '@base_nom_hint'%}
        <script src="{{ asset_url }}?r={{ver}}" type="text/javascript"></script>
{% endjavascripts %}
{{ datatable.script_block(table) }}
{% endblock %}
