{% extends 'base.html.twig' %}
{% import 'base_datatable.html.twig' as datatable %}
{% block title %}{{'basenom.basenom_list'|trans}}{% endblock %}

{% block content_body %}

<!-- begin:: Content Body -->
<div class="modal fide" role="dialog"></div>
<div class="k-content__body    k-grid__item k-grid__item--fluid" id="k_content_body">
    <div class="k-portlet k-portlet--mobile">
        <div class="k-portlet__head" id="bnom_head">
            <div class="k-portlet__head-label">
                <h3 class="k-portlet__head-title">
                    {{'basenom.numenclarure_list'|trans}}
                </h3> &nbsp;
            </div>
            <div class="k-portlet__head-label">
            <a href="javascript:void(0);"  class="btn mar k-margin-l-5 showHint btn-sm btn-elevate btn-brand">
                <i class="fa fa-question  k-padding-l-5 k-padding-r-0"></i>
                <span class="k-font-bold">{{'basenom.type-desc'|trans}}</span>&nbsp;
            </a>
            <a href="{{path('manu_add')}}" class="btn btn-sm k-margin-l-5 btn-elevate btn-brand">
                <i class="flaticon2-add-1  k-padding-l-5 k-padding-r-0"></i>
                <span class="k-font-bold">{{'label.addNew'|trans}}</span>&nbsp;
            </a>
            </div>
        </div>
        <div class="k-portlet__body main">
            <div class="k-portlet">
                <div class="row" data-sticky-container="">
                <div class="col-lg-3 col-xl-3">
                    <div class="k-portlet" data-sticky="false" data-margin-top="100" data-sticky-for="1023" data-sticky-class="k-sticky" style="">
                        <div class="k-portlet__body">
                            <input id="jsnomtree_search" placeholder="Search tree...">
                            <div id="jsnomtree"> Loading tree...</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-9">
                    <div class="k-portlet" id="grid_body">
                        <div class="k-portlet__body">
                    {{ datatable.html_block(table) }}
                </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.dataTables_wrapper .dataTable tr.deleted td:last-child {
    background: white;
    text-decoration: none;
}
.dataTables_wrapper .dataTable tr.deleted {
    background: lightgray;
}
.dataTables_wrapper .dataTable tr.deleted td {
    color: gray;
    text-decoration: line-through;
}
#grid_body {
    /*position: fixed;*/
    background: whitesmoke;
    /*width:70%;*/
}
</style>
<script>
$(document).ready( function() {
    //$(window).on('scroll', function () {
    setInterval(function() {
        if (!isScrolledIntoView('#bnom_head')) {
            // bnom_head is visible. remove fixed.
            $('#grid_body').css('position','fixed');
            $('#grid_body').css('top','90px');
        } else {
            $('#grid_body').css('position','relative');
            $('#grid_body').css('top','10px');
        }
    }, 300);
    //});
/*    $('.nomtree').fileTree({
            root: '/',
            script: '{{path('manu_tree')}}',
            expandSpeed: 1000,
            collapseSpeed: 1000,
            multiFolder: false
        }, function(file) {
            alert(file);
        });
*/
    var lastLoadedGrid=null;

    $('#jsnomtree').jstree({
        'core' : {
            'multiple' : false,
            'animation' : false,
            'dblclick_toggle': false,
            'data' : {
                //https://www.jstree.com/docs/json/
                'url' : function (node) {
                    return '{{path('manu_tree_ajax', nomtree_filters)}}';//?lpid={{lpid|default(null)}}';
                /*
                    return node.id === '#' ?
                    'ajax_roots.json' :
                    'ajax_children.json';
                */
                },
                'data' : function (node) {
                    d = { 'id' : node.id };
                    {% if lpid is defined%}
                    d['lpid']={{lpid}};
                    {% endif %}
                    {% if ltype is defined %}
                    d['ltype'] = '{{ltype}}';
                    {% endif %}
                    return d;
                }
            },
            'themes': {
                'url': true,
                'dir': '/bundles/OneBookBase/js/jstree/themes/',
            },
        },
        'plugins': ['search','contextmenu','state',],
        'contextmenu':{
            'items': function($node) {
                return {
                    "Create": {
                        "separator_before": true,
                        "separator_after": true,
                        "label": "Create Sub element",
                        "action": function (obj) {
                            console.log('New element with parent: ', $node.id);
                            top.location.href='{{path('manu_add')}}?parent='+$node.id+'';
                            //$node = tree.create_node($node);
                            //tree.edit($node);
                        },
                    },
                    "Create1": {
                        "separator_before": false,
                        "separator_after": true,
                        "label": "Create same type",
                        "action": function (obj) {
                            console.log('New element with type: ', $node.data);
                            if ($node.id != '#' && $node.data.parent_id && $node.data.parent_id)
                                top.location.href='{{path('manu_add')}}?parent='+$node.data.parent_id+'';
                            else
                                top.location.href='{{path('manu_add')}}?type='+$node.data.type+'';
                            //$node = tree.create_node($node);
                            //tree.edit($node);
                        },
                    },
                    "Edit": {
                        "separator_before": false,
                        "separator_after": true,
                        "label": "Edit element",
                        "action": function (obj) {
                            if ($node.id != '#' && $node.id && $node.id.match(/[\d]+/))
                                top.location.href='{{path('manu_edit', {'id': '__id__'})}}'.replace('__id__',$node.id);
                            else
                                alert("Can't edit root!");
                                //top.location.href='{{path('basenom_add')}}?type='+$node.data.type+'';
                            //$node = tree.create_node($node);
                            //tree.edit($node);
                        },
                    },
                    {% if is_granted('ROLE_ADMIN') %}
                    "Del": {
                        "separator_before": false,
                        "separator_after": true,
                        "label": "Delete element",
                        "action": function (obj) {
                            if ($node.id != '#' && $node.id && $node.id.match(/[\d]+/) && confirm('REALLY Delete this node?') && confirm('All the children will also be deleted!\nI hope you are sure???') && confirm('Well... ok. Last time. This will delete this node with ALL IT\'S CHILDREN!')) {
                                sendQeury('{{path('manu_delete', {'id':'__id__'})}}'.replace('__id__',$node.id)
                                    ).done(function(data) {
                                    if ('success' in data) {
                                        sysMsg.show({'title':'Deleted node(s)', 'body':'Node with all children deleted!', 'displayType':'toastr', 'severity': 'success'});
                                        jQuery('#jsnomtree').jstree(true).refresh(true);
                                    } else {
                                        //alert(data['msg']);
                                        sysMsg.show({'title':'Error Deleting node(s)', 'body':'Error deleting nodes: '+data['errorMsg'], 'severity': 'error'});
                                    }
                                }).fail(function(jqXHR, textStatus) {
                                    sysMsg.show({'title':'Error Deleting node(s)', 'body':'Error deleting nodes: '+textStatus, 'severity': 'error'});
                                });
                            }
                            else
                                alert("Can't delete root!");
                                //top.location.href='{{path('manu_add')}}?type='+$node.data.type+'';
                            //$node = tree.create_node($node);
                            //tree.edit($node);
                        },
                    },
                    {% endif %}
                };
            }
        },
    })
    .on('changed.jstree', function (e, data) {
        function loadGrid(loadData) {
            if (JSON.stringify(lastLoadedGrid) != JSON.stringify(loadData)) {
                //console.log('selected ',data.selected, data)
                console.log('ldg',lastLoadedGrid, loadData);
                setTimeout(function(){
                    $('#id_BaseBundle_Entity_BaseNoms').dataTable().api().ajax.url('{{path('manu_list')}}?lpid='+loadData);
                    $('#id_BaseBundle_Entity_BaseNoms').DataTable().draw(false);
                    lastLoadedGrid = loadData;
                    var selel=parseInt($('#'+loadData).offset().top)-200;//($(document).height()/4));
                    // if not visible - scroll to
                    if (!isScrolledIntoView($('#'+loadData)))
                        $('html,body').animate({scrollTop: selel })
                },1000);
            }
        }
        if (data) {
            if(data && data.selected && data.selected.length == 1) {
                loadGrid(data.selected)
            } else if(data && data.selected && data.selected.length > 1) {
                loadGrid(data.selected[0]);
            } else {
                $('#data .content').hide();
                $('#data .default').text('Select a file from the tree.').show();
            }
            // scroll into view selected.
            //var jstree = document.getElementById('jstree');
            //jstree.scrollTop = findPos( e ) - jstree.offsetHeight/2;
            //$('#jsnomtree').scrollTop = e;//.scrollIntoView();

            //$('#jsnomtree').jstree().get_selected(true)[0].id

        }
    });
    ;
  var to = false;
  $('#jsnomtree_search').keyup(function () {
    if(to) { clearTimeout(to); }
    to = setTimeout(function () {
      var v = $('#jsnomtree_search').val();
      $('#jsnomtree').jstree(true).search(v);
    }, 250);
  });
  $('a.addChildNom').on('click', function(){
    alert($(this).data('parent-id'));
  })
});
</script>
<!-- end:: Content Body -->
{% endblock content_body %}


{% block javascripts %}
    {{ parent() }}
{% javascripts filter='uglifyjs2'
    '@BaseBundle/Resources/public/js/jstree/jstree.min.js'
    output='js/basenom_index.js'
%}
<script type="text/javascript" src="{{ asset_url }}?r={{ver}}"></script>
{% endjavascripts %}

{% javascripts '@base_nom_hint'%}
        <script src="{{ asset_url }}?r={{ver}}" type="text/javascript"></script>
{% endjavascripts %}
{{ datatable.script_block(table) }}
{% endblock javascripts %}

{% block stylesheets %}
{% stylesheets filter='css_url_rewrite,?uglifycss'
    '@BaseBundle/Resources/public/js/jstree/themes/default/style.min.css'
    output='css/dist/basenom_index.css' %}
<link rel="stylesheet" href="{{ asset_url }}?r={{ver}}" />
{% endstylesheets %}
{% endblock stylesheets %}
